<head>
	<title>SignSync</title>
  
	<link rel="icon" href='/static/img/logo1.png'>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<style>
  body {
  background-image: url('/static/img/1.jpg');
  background-repeat: no-repeat;
  }
	</style>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark ">
		<!-- <nav class="navbar navbar-expand-lg navbar-dark "> -->
			<div class="container-fluid">
				<img style="margin-left:20px" src="static/img/logo1.png" alt="logo" width="50" height="50">
			  <a class="navbar-brand mx-4" style="margin-left:20px;font-size: 25px;" href="#">SignSync</a>
		
			  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left:50%">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				  <!-- <form class="d-flex ml-0" style="margin-right:5% ">
					<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success" type="submit">Search</button>
				  </form> -->
				  <li class="nav-item mx-4" style="font-size: 19px;">
					<a class="nav-link" aria-current="page" href="#">Home</a>
				  </li>
				  <li class="nav-item mx-4"style="font-size: 19px;">
					<a class="nav-link " href="/">Sign Detection</a>
				  </li>
				  <li class="nav-item mx-4"style="font-size: 19px;">
					<a class="nav-link active" href="detect_color">Color Detection</a>
				  </li>
				 
				</ul>
		
			  </div>
			</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-lg-8  offset-lg-2">


				<h2 class="mt-5 text-light">Color Detection</h2>
				<form class='text-light' method="post" action="{{ url_for('detect_color') }}">
					<div style="display: flex; flex-direction: row;">
						<input  type="file" name="og_img">
						<input  type="submit" value="Submit" name="stop" />
					</div>
				</form>
			</div>
		</div>
	</div>
</body>

